body{
    width: 75%;
    align-items: center;
    margin: 0 auto;
}


header, footer{
    background-color: rgb(27, 55, 235);
    text-align: center;
    padding: 1rem;
    
}

footer{
    margin-top: 1rem;
}

header{
    margin-bottom: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;    
}


section {
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(228, 228, 228);
}

.titles {
    color: white;
    background-color: rgb(11, 15, 74);
    margin-top: 0px;
    margin-left: -1px;
    border-radius:  9px 9px 0px 0px;
    border: 1px solid black;
    
}

p{
        padding:1rem;
    }

section img{
    padding: 10px;
    margin-top: -20px;

}

section a{
    display: block;
    margin-top: -10px;
    padding: 1rem;
}