@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@300&family=Reem+Kufi+Ink&display=swap');

html{
    width: 100%;
    font-size: 62.5%;
}

body{
    width: 100%;
    font-size: 16px; /* 1rem = 10px */
    margin: 0;
    padding: 0;
}


header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    font-family: 'Reem Kufi Ink', sans-serif;
    background-color: #028090 ;
    color:white;
    
    
}

h1, h2{
    text-shadow: 9px 9px 9px #494a4a;
}
header img{
    width: 70px;
    height: auto;
    margin-top: -20px;
    margin-left: 10px;
    
}

.banner {    
  grid-column: 1/-1;
  background-color: #00bfb2;
  border: 1px solid #614F5D;
  color: #f5b82e;
  font-size: 1.5rem;
  text-align: center;
}

.logo{
    width: 70%;
    grid-column: 1 / 2;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    
}

.uruwildlogo{
    margin-top: 5px;
}

.name{
    margin-top: -70px;
    margin-left: 90px;
    margin-right: 10px;
    font-size: 10px;
}

.name div{
    margin-top: -15px;
}

.socialheader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
header button {
    margin: 0.5rem 1rem;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
  }

  .social svg {
    width: 1.6rem;
    height: auto;
  }


.date{
    grid-row: 2;
    grid-column: 1/-1;
    text-align: center;
    border: 2px solid black;
    background-color: #00BFB2;
    margin-left: 15px;
    margin-right: 25px; 
    padding: .5rem;
}



nav {
    background-color: #00BFB2;
  }
  
nav ul {
list-style-type: none;
padding: 0;
margin: 0;
}

nav ul li a {
display: block;
padding: 0.8rem 2vw;
text-decoration: none;
color: #eee;
font-size: 1.5rem;
border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
background-color: #2e4c4cca;
}

nav ul {
display: none;
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}


/* Main grid  */


main {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
  
  main div {
    border: 1px solid #333;
    padding: 1rem;
    background-color: #eee;
    font-family: 'Faustina', serif;
    color: #333;
  }
  
  main .join {
    display: none;
  }
  
  main .spotlight3 {
    display: none;
  }

footer{
    margin-right: 10px;
    display: grid;
    grid-template-rows: 1fr 80px;
    justify-items: center;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
    font-family: 'Reem Kufi Ink', sans-serif;
    background-color: #028090 ;
    color:white;
    width: 100%;
}

footer img{
    display: flex;
    flex-direction: column;
    width: 80px;
    
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Faustina', serif;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

.basefooter{
    text-align: center;
    font-size: 14px;
}

/* Content into de grid main Section */
.hero {
  padding: 0;
  height: auto;
}
.hero picture,img{
  width: 100%;
  height: 100%;
  
}

.titles{
  text-align: center;
  font-size: 3rem;
  color:white;
}
.hero .titles{
  position: absolute;
  text-align: center;
  font-size: 3rem;
  color:white;
  padding: 2rem;
  border-radius: 1rem 1rem 1rem 1rem;
}

.joinbutt{
  margin-top: -8rem;
  position:absolute;
  text-align: center;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.8);
  color:white;
  padding: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
  cursor: pointer;
}

.event {
  background-color: #00BFB2;
}

.event p{
  color: white;
  font-family: 'Faustina', serif;
  font-size: 2rem;
  margin-left: 1.2rem;
}

.event a{
  text-decoration: none;
}


.weather {
  background-color: #00BFB2;
}

.weather .weathericon{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin: 1rem;
  margin-top: -3rem;
  background-color: #00BFB2;
  border: none;
}

.weather h2{
  color: white;
  text-align: center;
  font-family: 'Faustina', serif;
  font-size: 3rem;
}

.weathericon img{
  width: 15rem;
  
  
}
.weathericon p{
  font-size: 3rem;
  color:white;
  padding: 2rem;
  font-family: 'Reem Kufi Ink', sans-serif;
  
}

.weatherinfo{
  background-color: #00BFB2;
  border: none;
  margin-top:-9rem;
}

.weatherinfo h3{
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
  font-family: 'Faustina', serif;
  font-size: 2rem;
  
}

.weatherinfo p{
  color: white;
  font-family: 'Faustina', serif;
  font-size: 2rem;
  margin-left: 1rem;
}

.newre{
  background-color: #00BFB2;
}
.newre h2{
  color: white;
  text-align: center;
  font-family: 'Faustina', serif;
  font-size: 3rem;
}

.newre p{
  color: white;
  font-family: 'Faustina', serif;
  font-size: 2rem;
  margin-left: 1rem;
}
.newre a{
  text-decoration: none;
}

.spotlights{
  background-color:#00BFB2 ;
  width: auto;
}

.spotlights h2{
  color: white;
  text-align: center;
  font-family: 'Faustina', serif;
  font-size: 3rem;
}

.spotlights p {
  color: white;
  font-family: 'Faustina', serif;
  font-size: 2rem;
  margin-left: 1rem;
  border: none;
  text-align: center;
}
.spotlights h3{
  color: white;
  text-align: center;
  font-family: 'Faustina', serif;
  font-size: 2.5rem;
  border-bottom: 2px solid white;
  padding-bottom: .5rem;
}

.spotlight1{
  background-color:#00BFB2 ;
  box-shadow: .1rem .1rem .5rem .1rem rgba(0, 0, 0, 0.4);
  border: none;
}
.spotlight2{
  background-color:#00BFB2 ;
  box-shadow: .1rem .1rem .5rem .1rem rgba(0, 0, 0, 0.4);
  border: none;
}