@media only screen and (min-width: 32.5em) {
    
    body{
        width: 100%;
    }
    header{
        width: 100%;
    }
    .logo{
        width: 100%;

    }
    .uruwildlogo{
        width: 9rem;
        margin-left: 100px;
        margin-top: 50px;
    }
    .name{
        font-size: 1.3rem;
        margin-left: 16.8rem;
        margin-top: -9rem;
        margin-bottom: 2rem;
        
    }

    #hamburgerBtn{
        margin-right: 200px;
    }
}

