body{
    width: 100%;
    margin: 0 auto;
    

}

h1{
    text-align: center;

}

h2{
    text-shadow: none;
}

main div{
    padding: 0;
    margin: 0 ;
    border: none;
    background-color: #00bfb2;
    width: 100%;
}
div.cards{
    padding: 0;
    border: none;
    width: 100%;
    margin: 0 auto;
}

.cards  {
    display: grid;grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  
    
}

.cards section{
    max-width: 100%;
    text-align: center;
    border: none;
    padding: 2rem;
    background-color: #fffcfc;
    margin:1rem;
    box-shadow: 5px 5px rgb(0,0,0,.5);
}

section h2{
    font-size: 2rem;
}

.cards p{
    font-size: 1.7rem;
    padding: 1rem;
    margin: 1rem;
}

.cards img{
    width: 100%;
    height: auto;
}




.cards #list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
  }
  
.cards.list section {
    margin: 0;
    padding: 0;
    background-color: #eee;
    text-align: start;
    width: 100%;
}

.cards.list section h2 {
font-size: 1.3rem;
padding-left:1rem;
}
.cards.list section  p{
    font-size: 1.2rem;
    padding-left: 1rem;
}

.cards.list section:nth-child(even) {
background-color: rgb(201, 198, 198);
}

.cards.list section:hover {
box-shadow: 10px 10px 10px 10px rgb(124, 124, 124, 0.8);
}

.cards.list img{ display: none;
}


.flexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.flexboxweather{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


#grid{
    margin: .5rem;
    padding: .5rem;
}
#list{
    margin:.5rem;
    padding: .4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}



