@media only screen and (min-width: 35rem) {
    .cards.list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
    
      .cards.list section h2 {
        font-size: 2.5rem;
        padding-left:1.5rem;
        }
        .cards.list section  p{
            font-size: 2rem;
            padding-left: 1rem;
        }

    #grid{
        font-size: 3rem;
    }

    #list{
        font-size: 3rem;
    }

div.flexboxweather{
        justify-content: center;
    }
}