@media only screen and (min-width: 64em) {

    header button {
        display: none;
      }
    
      header section{
        padding-bottom: 0;
    }
    

    
    .nav-bar nav ul li a {
    font-size: 3rem;
    color: white;
    margin-left: 10rem;
    border-radius: 1rem 1rem 1rem 1rem;
    border: none;
    }
    

    nav ul#primaryNav {
    display: flex;
    

    }
    nav ul li a {
    border: none;
    }

    nav ul li a {
    padding: 2rem 9rem;
    }

    .socialheader .social svg {
    width: 5rem;
    height: auto;
    padding: 1rem;
    }
    
    .socialheader .social{
        margin-right: 20rem;
    }
    .date{
        margin-top:10px;
        margin-bottom: 10px;
    }
    
    
    .logo .uruwildlogo{
        width: 15rem;
        
    }
    .logo .name{
        font-size: 1.8rem;
    }

    div.contactinfo{
        margin-top: 9rem;
    }

    picture :hover {
        box-shadow: 0 0 50px #333;}



    .images .montevideoimg picture{
        z-index: 1;
    }
    .montevideoimg h2{
        font-size: 5rem;
        color: #f7f7f7;
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 2px solid #f5b82e;
    }
    .montevideoimg p{
        font-size: 2rem;
        padding: 3rem;
        grid-column: 2;
        grid-row: 1;
    }

    .images .puntadelesteimg picture{
        z-index: 1;
    }
    .puntadelesteimg h2{
        font-size: 5rem;
        color: #f7f7f7;
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 2px solid #f5b82e;
    }
    .puntadelesteimg p{
        font-size: 2rem;
        padding: 3rem;        
    }

    .images .lapalomaimg picture{
        z-index: 1;
    }
    .lapalomaimg h2{
        font-size: 5rem;
        color: #f7f7f7;
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 2px solid #f5b82e;
    }
    .lapalomaimg p{
        font-size: 2rem;
        padding: 3rem;
    }

    .images .plazatorosimg picture{
        z-index: 1;
    }
    .plazatorosimg h2{
        font-size: 5rem;
        color: #f7f7f7;
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 2px solid #f5b82e;
    }
    .plazatorosimg p{
        font-size: 2rem;
        padding: 3rem;
    }

    .images .entradacolimg picture{
        z-index: 1;
    }

    .entradacolimg h2{
        font-size: 5rem;
        color: #f7f7f7;
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 2px solid #f5b82e;
    }
    .entradacolimg p{
        font-size: 2rem;
        padding: 3rem;
    }
}