body{
    background-color: #eee;
    width: 100%;
}

main{
    padding: 0;
    margin: 0;
}
div.images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div picture img{
    width: 100%;
    height: auto;
    
    
}

div.images{
    border: none;
}

.images div{
    border: 2px solid #f7f7f7;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    align-content: center;
    background-color: #00bfb2;
    border: none;
}

.images p{
    color: #f7f7f7;
}

.montevideoimg div{
    border: none;
    padding: 0;
}
.montevideoimg h2{
    color: #f7f7f7;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #f5b82e;
}

.puntadelesteimg div{
    border: none;
    padding: 0;
    margin: 0;
}
.puntadelesteimg h2{
    color: #f7f7f7;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #f5b82e;
}

.lapalomaimg div{
    border: none;
    padding: 0;
    margin: 0;
}
.lapalomaimg h2{
    color: #f7f7f7;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #f5b82e;
}

.plazatorosimg div{
    border: none;
    padding: 0;
    margin: 0;
}
.plazatorosimg h2{
    color: #f7f7f7;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #f5b82e;
}

.entradacolimg div{
    border: none;
    padding: 0;
    margin: 0;
}
.entradacolimg h2{
    color: #f7f7f7;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #f5b82e;
}

.uruwildlogofooter{
    width: 10rem;
    margin:0 auto
    
}

.date{
    font-size: 1rem;
}

.images div{
    margin: 0;
    padding: 0;
}

/*----------------- FORM--------------------*/
.container-form{
    background-color: #00bfb2;
    padding: 0;
    margin: 0;
}
.grid-join{
    padding: 0;
}
.jointitle{
    text-align: center;
    color: #f7f7f7;
}
form fieldset{
    margin: 2rem;
    border: 1px solid  rgb(186, 188, 186);
    border-radius: 10px;
}

form legend{
    margin: 0 1rem;
    padding: 0.5rem;
    color: #f7f7f7;
    font-family: 'Faustina', serif;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    font-size: 1.7rem;
    color: #f7f7f7;
    
}

form label.top input, form label.top select{
    display: block;
    font-size: 1.5rem;
    border: solid 1px #999;
    border-radius: 4px;
    color:#f7f7f7;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Faustina', serif;
}

form input.sbs, form label{
    color:#f7f7f7;
}

form input.submitBtn{
    border: none;
    background-color: red;
    color: wheat;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;

}

form label.top input:required{
    border-left: red solid 6px;

}

form label.top input:required:valid{
    border-left: green solid 6px;
}

form fieldset textarea{
    width: 100%;
}

div.container-mem{
    background-color: #00bfb2;
    padding: 0;
    margin: 0;
}


.container-mem div{
    background-color: #00bfb2;
    margin-bottom: 1rem;
}
.gold h2{
    text-align: center;
    font-size: 4rem;
    color: #f5b82e;
}

div .gold {
    border:2px solid  #f5b82e;
    padding: 0;
    width: 99%;
}

div.gold  img{
    width: 50%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.gold:hover{
    box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.75);
}

.gold p{
    padding: 1rem;
}

.silver h2{
    text-align: center;
    font-size: 4rem;
    color: #b1afae;
    
}
div.silver{
    border:2px solid  #b1afae;
    padding: 0;
    width: 99%;}
.silver p{
    padding: 1rem;
}

div.silver  img{
    width: 50%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.silver:hover{
    box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.75);
}
.bronze h2{
    text-align: center;
    font-size: 4rem;
    color: #cd7f32;
}
.bronze p{
    padding:1rem;
}
div .bronze{
    border:2px solid  #cd7f32;
    padding: 0;
    width: 99%;
    
}
div.bronze  img{
    width: 50%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.bronze:hover{
    box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.75);

}

.thanksmessage{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    margin: 1rem;
    border: 2px solid #f5b82e;
    background-color: #00bfb2;
    border-radius: 10px;
}

.thanksmessage h1{
    color: #f7f7f7;
    font-size: 2.5rem;
    border-bottom: #f5b82e 2px solid;
    padding-bottom: 1rem;
}

.thanksmessage p{
    padding-right: 2rem;
    padding-left: 2rem;
    color:#f7f7f7;
    font-size: 2rem;
    font-family: 'Faustina', serif;
}

.radios{
    border: none;
    background-color:#00bfb2;
    padding-bottom:1rem;       
}


div.container-form{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.grid-join{
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.grid-join{
    width: 100%;
}

.map iframe{
    width: 100%;
    
}
div.map{
    border: none;
    background-color: #00bfb2;
    padding: 0;
    margin: 0;
}

div .contact-info{
    text-align: center;
    border: none;
    background-color: #00bfb2;
    padding: 0;
    margin: 0;
    margin-top: 0;
    
}

div.contact-info h2{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    text-shadow: none;
    color:#f7f7f7;
    border-bottom: 2px solid #f7f7f7;
    
}

div.contact-info h3{
    color: #f7f7f7;
    font-size:larger ;
}

div.contact-info p{
    color: #f7f7f7;
    font-size:larger ;
    padding-bottom: 1rem;
}


